<strong><a href="//www.open-mind-culture.org/439/impressum/">Impressum und Datenschutzerklärung</a></strong>

<!--more-->

<h2>Dank und Datenschutz</h2>

<p>Diese Website verwendet das <a href="https://wordpress.org/themes/suri/" target="_blank" rel="noopener">Wordpress-Theme <strong>Suri</strong> von <em>surimohnot</em></a> und die <a href="https://www.fontspring.com/fonts/kimberly-geswein/kg-nothing-you-could-do?refby=KG" target="_blank" rel="noopener">Schriftart "Nothing You Could Do"</a> von <a href="http://www.kimberlygeswein.com/" target="_blank" rel="noopener">Kimberly Geswein</a>.</p>

<h2>Datenschutzerklärung</h2>

<p>Diese Datenschutzerklärung klärt darüber auf, wie Ihre Daten geschützt und zu welchen Zwecken sie vearbeitet werden. Wir befolgen dabei die Regeln des Bundesdatenschutzgesetzes (BDSG) und der europäischen Datenschutzgrundverordnung (DSGVO) und praktizieren Datenschutz und die Datensparsamkeit.</p>

<p>Verantwortlich für den Inhalt im Sinne der DSGVO ist <a href="http://www.ingo-steinke.de/" target="_blank">Ingo Steinke</a> aus Düsseldorf. E-Mail: <a href="mailto:datenschutz@ingosteinke.de">datenschutz@ingosteinke.de</a></p>

<h3>Ihr gutes Recht: Auskunft, Korrektur, Löschung, Widerruf</h3>

<p>Sie haben das Recht, eine Einwilligung in die Verarbeitung Ihrer Daten zu verweigern oder nachträglich zu widerrufen, sowie das Recht auf Auskunft hinsichtlich der über Ihre Person gespeicherten Daten und können eine Löschung dieser Daten oder eine Korrektur unzutreffender Daten verlangen. Ausgenommen von der Löschung sind gespeicherte Daten, die der gesetzlichen Aufbewahrungspflicht oder einer anderweitig vorgeschriebenen Datenspeicherung zur Geschäftsabwicklung unterliegen.</p>

<h3>Umfang der Verarbeitung personenbezogener Daten</h3>

<p>Wir verarbeiten personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur Bereitstellung einer funktionsfähigen Website sowie unserer Inhalte und Leistungen erforderlich ist.</p>

<h3>Datensparsamkeit und Datenminimierung</h3>

<p>Personenbezogene Daten speichern wir gemäß den Grundsätzen der Datenvermeidung und Datensparsamkeit nur so lange, wie es erforderlich ist oder vom Gesetzgeber her vorgeschrieben wird (gesetzliche Speicherfrist). Entfällt der Zweck der erhobenen Informationen oder endet die Speicherfrist, sperren oder löschen wir die Daten.</p>

<p>Verweise zu sozialen Netzwerken, wie beispielsweise Twitter, Pinterest, Tumbler oder Facebook, sind lediglich Links zu externen Anbietern. Anzeigen und Ansehen der dieser Verweise führt zu keiner Datenübertragung an Drittanbieter.</p>

<p>Schriftarten, Grafiken und Scriptdateien werden ausschließlich von unseren Servern geladen, es findet kein Abruf von Google oder anderen Drittanbietern statt. Wir verzichten zudem auf Auswertungs- und Werbefunktionen von externen Websites, daher werden auch keinerlei Daten von oder an Google Analytics oder Google AdWords übertragen.</p>

<h3>Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h3>

<p>Eine Verarbeitung von personenbezogenen Daten erfolgt auf Grundlage von Art. 6 Abs. 1 Bst. f DSGVO zwecks öffentlicher Bereitstellung einer Website zum Zwecke der freien Meinungsäußerung. Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist, dient Art. 6 Abs. 1 Bst. c DSGVO als Rechtsgrundlage.</p>

<p>Bereitstellung der Website und Auswertung technischer Daten (Logfiles)

<p>Mit jedem Zugriff auf dieses Angebot werden durch uns bzw. den Webspace-Provider (Domainfactory) automatisch Informationen erfasst, die zur technischen Bereitstellung der Website erforderlich sind. Erfasst werden die Adresse der besuchten Webseite, Datum und Uhrzeit, übertragene Datenmenge, Webbrowserkennung, IP-Adresse und ggf. auf die aufgerufene Website verweisende Websites. Die Daten werden in den Logfiles unseres Systems gespeichert. Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt. Eine Auswertung der Daten zu Marketingzwecken findet in diesem Zusammenhang ebenfalls nicht statt.</p>

<p>Rechtsgrundlage für die vorübergehende Speicherung dieser Daten und der Logfiles ist Art. 6 Abs. 1 Bst. f DSGVO. Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit der Website sicherzustellen. Zudem dienen uns die Daten zur Optimierung der Website und zur Sicherstellung der Sicherheit unserer informationstechnischen Systeme.</p>

<p>Wir verwenden anonyme bzw. anonymisierte technische Informationen für statistische Zwecke. Sie helfen uns bei der Optimierung des Angebots und der Technik. Für die statistische Auswertung wird die Open-Source-Software Matomo (ehemals Piwik) eingesetzt. Dabei werden die erfassten IP-Adressen anonymisiert, indem die letzten beiden Bytes jeder IP-Adresse verworfen werden. Die Software läuft dabei ausschließlich auf den Servern unserer Webseite. Eine Speicherung findet nur dort statt. Eine weitere anonymisierte Auswertung technischer Daten findet durch unseren Dienstleister <a href="https://wao.io" target="_blank" rel="noopener">wao.io</a> statt.</p>

<p>Im Rahmen dieser anonymisierten Auswertung werden Cookies, d.h. kleine Textdateien, in Ihrem Browser gespeichert. Diese können Sie jederzeit durch leeren Ihrer temporären Internetdateien selbsttätig wieder entfernen.</p>

<p>Wir behalten uns zudem das Recht vor, die Server-Logfiles bei Verdacht auf eine rechtswidrige Nutzung unseres Angebotes nachträglich zu kontrollieren.</p>
