/*
Theme Name: Suri
Theme URI: http://surimohnot.me/suritheme
Author: Surendra Mohnot
Author URI: http://surimohnot.me/
Description: Welcome to Suri, a minimal, lightweight and mobile first theme created for WordPress without compromising standards. It is built with accessibility, search-engine optimization (SEO), security, pagespeed and simplicity in mind. Suri is written with the clean code, most current HTML5 conventions and Schema.org microdata.
Version: 0.2.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, accessibility-ready, translation-ready, custom-header, custom-background, theme-options, custom-menu, post-formats, threaded-comments, rtl-language-support, editor-style, featured-images, flexible-header, microformats, post-formats, footer-widgets
Text Domain: suri

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Suri is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/

/* @import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do'); */

@font-face {
	font-family: 'Nothing You Could Do';
	font-style: normal;
	font-weight: 400;
	src: local('Nothing You Could Do'), local('NothingYouCouldDo'),
	url(https://fonts.gstatic.com/s/nothingyoucoulddo/v6/jpk1K3jbJoyoK0XKaSyQAW3tIVbDRfcAbwPiWONb82U.woff2) format('woff2'),
	url(https://fonts.gstatic.com/s/nothingyoucoulddo/v6/jpk1K3jbJoyoK0XKaSyQAZsYoLsUhJo8DEpooYVMXYU.woff) format('woff'),
	url(https://fonts.gstatic.com/s/nothingyoucoulddo/v6/jpk1K3jbJoyoK0XKaSyQATQ_Mc_CI9I9rz7xtaEMUMz3rGVtsTkPsbDajuO5ueQw.ttf) format('truetype'),
	url(https://fonts.gstatic.com/l/font?kit=jpk1K3jbJoyoK0XKaSyQARAk6TjjYmw_HRMhoQrn_pA&skey=772542671f40e9f1&v=v6#NothingYouCouldDo) format('svg');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/**
 * Table of Contents
 *
 *	1.0 Normalize
 *	2.0 Typography
 *	3.0 Elements
 *	4.0 Forms
 *	5.0 Navigation
 *		5.1 Links
 *		5.2 Menus
 *		5.3 Page Navigation
 *	6.0 Accessibility
 *	7.0 Alignments
 *	8.0 Clearings
 *	9.0 Widgets
 *	10.0 Site Elements
 *		10.1 Header
 *		10.2 Content
 *		10.3 Comments
 *		10.4 Sidebar
 *		10.5 Footer
 *	11.0 Infinite scroll
 *	12.0 Media
 *		12.1 Captions
 *		12.2 Galleries
 *	13.0 - Media Queries
 *		13.1 >= 860px
 *		13.2 >= 1024px
 *		13.3 >= 1200px
 */

/**
 * 1.0 - Normalize
 *
 * Modified from normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css
 */

html {
	    -ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

progress {
	vertical-align: baseline;
}

template,
[hidden] {
	display: none;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
	outline-width: 0;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

big {
	font-size: 125%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

svg:not(:root) {
	overflow: hidden;
}

optgroup {
	font-weight: bold;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
	border: 1px solid #c0c0c0;
}

legend {
	display: table;
	box-sizing: border-box;
	max-width: 100%;
	padding: 0;
	white-space: normal;
	color: inherit;
}

textarea {
	overflow: auto;
}

[type='checkbox'],
[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-border-radius: 0;
	        border-radius: 0;
	outline-offset: -2px;
	-webkit-appearance: none;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

/**
 * 2.0 - Typography
 */

body {
	font: 400 16px/1.5 'Nothing You Could Do', Arial, sans-serif;
	word-wrap: break-word;
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nothing You Could Do', sans-serif;
	font-weight: 700;
	line-height: 26px;
	margin: 0 0 26px;
	color: #404040;
}

h1 {
	font-size: 2rem;
	line-height: 52px;
}

h2 {
	font-size: 1.625rem;
	line-height: 42px;
}

h3 {
	font-size: 1.375rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.125rem;
}

h6 {
	font-size: 1rem;
}

code,
kbd,
samp,
var,
tt,
pre {
	font: 16px/1.625 monaco, Consolas, 'Lucida Console', monospace;
	padding: 2px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	color: maroon;
	background-color: #f2f2f2;
}

pre {
	overflow: auto;
	max-width: 100%;
	margin: 0 0 26px;
	padding: 0 0.8125em;
	color: #333;
	border: 1px solid #e6e6e6;
	border-left-width: 8px;
	background: #f2f2f2 linear-gradient(#f2f2f2 50%, #fff 50%) repeat 0 0;
	background-image: -webkit-linear-gradient(#f2f2f2 50%, #fff 50%);
	background-size: 52px 52px;
}

pre code {
	padding: 0;
	background-color: transparent;
}

blockquote {
	font: italic 400 18px/1.4445 Georgia, Serif;
	position: relative;
	width: 100%;
	margin: 0 0 26px;
	padding: 1.2em 1.75em 1.2em 3em;
	border-left: 8px solid #0067ac;
	background: #f2f2f2;
}

blockquote::before {
	font-family: Arial, sans-serif;
	font-size: 4em;
	position: absolute;
	top: -10px;
	left: 10px;
	content: '\201C';
	color: #0067ac;
}

blockquote::after {
	content: '';
}

blockquote cite {
	font-size: 16px;
	line-height: 1.625;
	display: block;
	margin: 26px 0 0;
	color: #404040;
}

blockquote > :last-child {
	margin-bottom: 0;
}

abbr,
dfn[title],
acronym {
	cursor: help;
	border-bottom: 1px dotted #666;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

address,
dl,
dd,
p {
	margin: 0 0 26px;
}

dt {
	font-weight: 700;
}

mark,
ins {
	text-decoration: none;
	background: #fff9c0;
}

/**
 * 3.0 - Elements
 */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

hr {
	overflow: visible;
	height: 1px;
	margin-bottom: 26px;
	border: 0;
	background-color: #ccc;
}

ol,
ul {
	margin: 0 0 26px;
	padding: 0 0 0 1.625em;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

table {
	width: 100%;
	margin: 0 0 26px;
	border-spacing: 0;
	border-collapse: collapse;
}

td,
th {
	padding: 13px 0 13px 6px;
	text-align: left;
	border: 1px solid #e6e6e6;
}

tbody tr:nth-of-type(odd) {
	background-color: #f2f2f2;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	padding: 0;
}

/**
 * 4.0 - Forms
 */

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 16px;
	line-height: 1.625;
	width: 100%;
	margin: 0;
	padding: 0.8125em;
	color: inherit;
	border: 1px solid #e6e6e6;
}

input[type='search'] {
	line-height: normal;
}

input[type='checkbox'],
input[type='image'],
input[type='radio'],
input[type='search'] {
	width: auto;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	width: auto;
	cursor: pointer;
	background-color: #f2f2f2;
	-webkit-appearance: button;
}

button:hover,
input:hover[type='button'],
input:hover[type='reset'],
input:hover[type='submit'] {
	background-color: #f9f9f9;
}

button:focus,
input:focus[type='button'],
input:focus[type='reset'],
input:focus[type='submit'] {
	outline: thin dotted;
	outline-offset: -4px;
	background-color: #f9f9f9;
}

input:focus,
textarea:focus {
	border-color: #004d80;
	background-color: #f9f9f9;
}

.post-password-form input[type='password'] {
	width: auto;
}

/**
 * 5.0 - Navigation
 */

/**
 * 5.1 - Links
 */

a {
	text-decoration: none;
	color: #0067ac;
}

a:focus {
	outline: thin dotted;
	outline-offset: -1px;
}

a:hover,
a:focus {
	color: #b9380d;
	text-decoration: underline;
}

a:hover > img,
a:focus > img {
	opacity: 0.7;
	border-color: currentColor;
}

/**
 * 5.2 - Menus
 */

.menu-toggle {
	width: 100%;
	border-width: 1px 0 0;
	background-color: transparent;
}

.dropdown-toggle {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.8125em 1.73334em;
	color: #202020;
	border-width: 1px 0 0 0;
	background-color: #fff;
}

.nav-menu,
.nav-menu .sub-menu {
	display: none;
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.no-js .nav-menu,
.no-js .sub-menu,
.toggled .nav-menu,
.toggled-on > .sub-menu {
	display: block;
}

.nav-menu .menu-item {
	position: relative;
}

.nav-menu .menu-item a {
	font-size: 16px;
	line-height: 1.625;
	display: block;
	padding: 0.8125em;
	color: #333;
	border-top: 1px solid #e6e6e6;
	background-color: #fff;
}

.nav-menu a:hover,
.nav-menu a:focus {
	color: #0067ac;
	text-decoration: none;
	background-color: none;
}

.nav-menu .sub-menu a {
	background-color: #f9f9f9;
}

.nav-menu .sub-menu .sub-menu a {
	background-color: #fff;
}

.social-icons-menu.nav-menu {
	display: inline-block;
}

.social-icons-menu .menu-item {
	display: inline-block;
	margin-right: 2px;
}

.social-icons-menu .menu-item a {
	border-top: none;
}

/**
 * 5.3 - Page Navigation
 */

.pagination {
	clear: both;
	margin: 0 auto 26px;
	text-align: center;
}

.page-numbers {
	display: inline-block;
	margin-top: 3px;
	padding: 0.5em 1.25em;
	border-bottom: 1px solid transparent;
	background-color: #fff;
}

.page-numbers:focus,
.page-numbers:hover,
.page-numbers.current,
.nav-next a:hover,
.nav-previous a:hover,
.nav-next a:focus,
.nav-previous a:focus {
	text-decoration: none;
	background-color: #f9f9f9;
}

.post-navigation {
	margin-bottom: 26px;
}

.nav-next a,
.nav-previous a {
	display: block;
	padding: 1.625em;
	border-bottom: 1px solid transparent;
	background-color: #fff;
}

.nav-next a {
	margin-top: 2px;
}

.meta-nav {
	display: block;
}

.post-title {
	font-size: 28px;
	font-weight: 400;
}

/**
 * 6.0 - Accessibility
 */

/* Text meant only for screen readers. */
.screen-reader-text {
	position: absolute !important;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
}

.screen-reader-text:focus {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: normal;
	z-index: 100000; /* Above WP toolbar. */
	top: 5px;
	left: 5px;
	display: block;
	clip: auto !important;
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	color: #21759b;
	border-radius: 3px;
	background-color: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}

/* Do not show the outline on the skip link target. */
#content[tabindex='-1']:focus {
	outline: 0;
}

/**
 * 7.0 - Alignments
 */

.alignleft {
	float: left;
	margin-right: 13px;
}

.alignright {
	float: right;
	margin-left: 13px;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.alignnone {
	display: block;
}

/**
 * 8.0 - Clearings
 */

.author-info:after,
.footer-menu:after,
.footer-widgets:after,
.gallery:after,
.header-menu:after,
.header-items:after,
.hentry:after,
.main-navigation:after,
.post-navigation:after,
.site-content:after,
.widget .search-form:after {
	display: table;
	clear: both;
	content: '';
}

/**
 * 9.0 - Widgets
 */

.primary-sidebar .widget {
    color: #fff;
	font-size: 16px;
	line-height: 1.625;
    margin: 10px 0 26px 0;
	padding: 1.625em;
	background-color: rgba(69,109,128,.85);
    border-radius: 0 30px 30px 0;
    padding: 0 25px 25px 25px;
}

.widget a:link,
.widget a:active,
.widget a:visited {
	color: #fff;
	margin-right: .5em;
}

.js .primary-sidebar .widget.widget_custom_html,
.js .primary-sidebar .widget.widget_search {
	background: none;
    padding: 2em 0 0 1em;
}

.branding-wrapper .header-widget .widget.widget_search {

	background: none;
    margin: -.5em 0 1em 0;
    padding: 2em 0 0 1em;
}

.widget-title {
	line-height: .125em;
}

.widget .adwords {
	color: #aaa;
	text-align: center;
}

.widget ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.widget .cat-item {
	margin-bottom: .5em;
}

.widget .search-form {
	max-width: 100%;
}

.widget .search-field {
	float: left;
	background-color: rgba(255,255,255,.25);
	box-sizing: border-box;
	width: 61.8%;
	height: 48px;
}

.widget .search-submit {
	background-color: #990000;
	border-left-width: 0;
	box-sizing: border-box;
	color: #fff;
	float: left;
	font-weight: bold;
	line-height: 20px;
	width: 38.2%;
}

.widget_calendar table {
	border: 1px solid #e6e6e6;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
	border: none;
}

.widget select {
	max-width: 100%;
}

.widget .post-date {
	display: block;
}

/**
 * 10.0 - Site Elements
 */

.site {
	max-width: 1366px;
	margin-right: auto;
	margin-left: auto;
}

.hide-on-mobile {
	display: none;
}

/**
 * 10.1 Header
 */

.site-header {

	background: #fff url(/wp-content/custom/eye-backdrop.jpg) no-repeat left top;
	border-bottom: solid 1px silver;
	margin: 0;
}

.header-items {
	text-align: center;
	max-width: 960px;
}

.custom-logo-link {
	line-height: 0;
	display: inline-block;
}

.custom-logo-link:hover,
.custom-logo-link:focus {
	text-decoration: none;
}

.site-branding {
	padding: 1em 0;
}

.site-description {
	margin: 0;
}

.header-extra {
	text-align: left;
}

.header-widget {
	display: table;
	margin-right: auto;
	margin-left: auto;
}

.header-widget .widget {
	margin-bottom: 0;
	padding-top: 0;
}

.custom-header {
	display: block;
}

/**
 * 10.2 Content
 */

.site-content {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding: 0 0.8125em;
}

.site-main {
	background: #fff url(//www.open-mind-culture.org/wp-content/uploads/2017/09/container.png) repeat-y left top;
	box-shadow: 36px 25px 20px -27px rgba(0,0,0,0.75);
	margin: 0 auto 26px;
	max-width: 600px;
    padding-left: 8em;
}

.page-header {
	margin-bottom: 26px;
	padding: 1.625em;
	border: 1px solid #e6e6e6;
	background-color: #f9f9f9;
}

.page-header .page-title,
.page-header p {
	margin: 0;
}

.page-header h1 + p {
	margin-top: 1.625rem;
}

.hentry,
.page-content,
.author-info,
.woocommerce .site-main,
.breadcrumbs {
	padding: 1em
}

.entry-header,
.entry-content {
	overflow: hidden;
}

.single-post .entry-header,
.single-post .entry-content {
	padding-bottom: 0.8125em;
	border-bottom: 1px solid #e6e6e6;
}

.full-content .entry-title {
	font-size: 1.25rem;
	line-height: 1.625;
}

.entry-title {
	margin-bottom: 5px;
}

.site-branding {
    margin: 0 auto;
    text-align: center;
}

p.site-title {
	margin: 0;
}

p.site-title a,
.entry-title a {
	color: #333;
	font-size: 1.25em;
}

.entry-title a:hover,
.entry-title a:focus {
	color: #b9380d;
}

.modified-entry-date {
	display: none;
}

.entry-meta {
	font-size: 16px;
	line-height: 1.625;
}

.byline,
.posted-on {
	display: inline-block;
	margin-right: 0.5em;
}

.edit-link {
	display: inline-block;
}

.comments-link {
	display: none;
	margin-right: 0.5em;
}

.entry-content a {
	text-decoration: underline;
}

.entry-content a:focus,
.entry-content a:hover {
	text-decoration: none;
}

.entry-content li {
	margin-top: 0.5em;
}

.woocommerce .product-thumbnail img {
	margin-bottom: 0;
}

.excerpt .entry-content p,
.author-bio {
	margin: 0;
	text-align: justify;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;
	    -ms-hyphens: auto;
}

.post-thumbnail {
	line-height: 0;
	outline: 0;
}

.thumbnails {
	margin: 0 auto 26px;
}

.excerpt .more-link {
	margin-left: 8px;
}

.entry-footer {
	clear: both;
	padding-top: 1.625em;
}

.cat-links,
.tags-links {
	display: block;
}

.avatar {
	display: block;
	margin: 0 auto;
	border-radius: 100%;
}

.author-title {
	margin-bottom: 0;
	text-align: center;
}

/**
 * 10.3 Comments
 */

.comment-inner,
.comments-title,
.pingback,
.comment-respond {
	margin-bottom: 26px;
	padding: 1.625em;
	background-color: #fff;
}

.comments-title {
	padding: 0.8125em;
}

.comment-list {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.comment-list .children {
	padding-left: 1.625em;
	list-style: none;
}

.pingback p,
.comment-content p:last-child {
	margin: 0;
}

.comment-author .avatar {
	float: left;
	margin-right: 26px;
	border-radius: 100%;
}

.bypostauthor .avatar {
	border-color: green;
}

.comment-content {
	clear: both;
	padding: 1em 0;
}

.comment-content a {
	text-decoration: underline;
}

.comment-content a:hover,
.comment-content a:focus {
	text-decoration: none;
}

.comment-respond {
	clear: both;
}

.comment-reply-link {
	margin-right: 13px;
}

.comment-edit-link {
	display: inline-block;
}

.pingback .comment-edit-link {
	display: block;
}

.no-comments {
	margin-top: 1.625rem;
	padding-left: 0.8125em;
}

/**
 * 10.4 Sidebar
 */

.sidebar-toggle {
	display: none;
}

/**
 * 10.5 Footer
 */

.footer-widgets {
	margin-bottom: 26px;
	padding: 0 0.8125em;
}

.footer-widget {
	margin-right: auto;
	margin-left: auto;
}

.site-footer {
	padding: 2em;
	text-align: center;
	background-color: #fff;
}

.footer-items {
	font-size: 16px;
	line-height: 1.625;
	padding: 0.8125em 0;
}

.footer-items p {
	margin: 0;
}

.site-footer .nav-menu {
	border-top: none;
}

.site-footer .menu-item {
	display: inline-block;
}

.site-footer .nav-menu .menu-item a {
	padding: 0 1em 0.5em;
	border-top-width: 0;
}

.footer-menu .nav-menu {
	display: block;
}

/**
 * 11.0 - Infinite scroll
 */

.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {
	display: none;
}

.infinity-end.neverending .site-footer {
	display: block;
}

/**
 * 12.0 Media
 */

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
}

embed,
iframe,
object,
video {
	max-width: 100%;
}

/**
 * 12.1 Captions
 */

.wp-caption {
	max-width: 100%;
	margin-bottom: 1.625rem;
	padding: 2px;
	border: 1px solid #e6e6e6;
}

.wp-caption img[class*='wp-image-'],
.entry-content .gallery img {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}

.wp-caption-text {
	font-size: 14px;
	line-height: 1.8572;
	text-align: center;
}

/**
 * 12.2 Galleries
 */

.gallery {
	margin-bottom: 26px;
}

.gallery-item {
	display: inline-block;
	width: 100%;
	padding: 0.5625em;
	text-align: center;
	vertical-align: top;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	font-size: 14px;
	font-style: italic;
	line-height: 1.8572;
	display: block;
}

/**
 * 13.0 - Media Queries
 */

/* MOD hide some decoration in mobile layouts */
@media only screen and (max-width: 600px) {
	.site-main {
		background-position: -6.25em 0;
		box-shadow: none;
		padding-left: 2em;
	}
	.branding-wrapper .title-area .site-title {
    	margin: 3.5em 0 -2.5em 0;
    	padding: 0;	
	}
	h1.entry-title {
		font-size: 16px;
    	line-height: 2em;
	}
	.primary-sidebar .widget {
		border-radius: 30px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 1025px) {
	.branding-wrapper .title-area .site-title {
    	margin: 0 0 -2.5em 0;
    	padding: 0;	
	}
	.primary-sidebar .widget {
		border-radius: 30px;
	}
}

/**
 * 13.1 - >= 860px
 */

@media only screen and (min-width: 860px) {
	html {
		font-size: 112.5%;
	}

	body {
		font-size: 17px;
	}

	.site-main,
	.pagination,
	.footer-widget,
	.main-navigation .wrap {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}

	.comments-link {
		display: inline;
	}

	.edit-link {
		float: right;
	}

	.excerpt .entry-content p,
	.author-bio {
		text-align: left;
		-webkit-hyphens: none;
		   -moz-hyphens: none;
		        hyphens: none;
		    -ms-hyphens: none;
	}

	.thumbnails {
		float: left;
		margin-right: 26px;
		margin-bottom: 0;
	}

	.avatar {
		float: left;
		width: 60px;
		height: auto;
		margin-right: 13px;
		margin-bottom: 0;
	}

	.author-title {
		text-align: left;
	}

	.author-bio {
		clear: both;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		float: left;
		width: 32%;
	}

	.comment-form-email,
	.comment-form-url {
		margin-left: 2%;
	}

	.js .primary-sidebar {
		position: absolute;
		top: 0;
		right: 0;
		background-color: #eaeaea;
	}

	.js .primary-sidebar .widget {
		display: none;
		width: 340px;
	}

	.js .toggled.primary-sidebar .widget {
		display: block;
	}

	.sidebar-toggle {
		position: absolute;
		top: 0;
		right: 100%;
		display: block;
		padding: 0.8125em;
		border-width: 0;
		background-color: #fff;
		box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.1);
	}

	.toggled .sidebar-toggle {
		color: #fff;
		background-color: #333;
	}
}

/**
 * 13.2 - > 1024px
 */

@media only screen and (min-width: 1025px) {
	.wrap,
	.header-items {
		max-width: 960px;
		margin: 0 auto;
		padding: 0;
	}

	.main-navigation {
		border-top: 1px solid #e6e6e6;
	}

	.main-navigation .wrap {
		width: 100%;
	}

	.menu-toggle,
	.dropdown-toggle,
	.sidebar-toggle {
		display: none;
	}

	.hide-on-mobile {
		display: block;
	}

	.nav-menu,
	.nav-menu .menu-item {
		display: inline-block;
		vertical-align: middle;
	}

	.nav-menu .moved-item {
		display: none;
	}

	.nav-menu .menu-item a {
		padding: 1em;
		border-top: none;
	}

	.branding-wrapper .main-navigation .nav-menu > .menu-item:first-child > a {
		padding-left: 0;
	}

	.nav-menu .sub-menu {
		position: absolute;
		z-index: 99;
		top: 100%;
		display: block;
		visibility: hidden;
		-webkit-transition: all 0.2s ease-in-out 0.3s;
		        transition: all 0.2s ease-in-out 0.3s;
		transform: translateY(-2em);
		text-align: left;
		opacity: 0;
		border-top: 1px solid #e6e6e6;
	}

	.nav-menu .sub-menu a {
		width: 225px;
		padding: 0.8125em;
		word-wrap: break-word;
		border: 1px solid #e6e6e6;
		border-top: none;
		background-color: #fff;
	}

	.nav-menu .sub-menu .sub-menu {
		top: -1px;
		left: 224px;
	}

	.nav-menu .menu-item:hover > .sub-menu,
	.nav-menu .menu-item.focus > .sub-menu {
		z-index: 99999;
		visibility: visible;
		-webkit-transition-delay: 0.3s;
		        transition-delay: 0.3s;
		transform: translateY(0%);
		opacity: 1;
	}

	.header-extra {
		text-align: center;
	}

	.branding-wrapper .header-items {
		display: table;
		width: 100%;
	}

	.branding-wrapper .site-branding,
	.branding-wrapper .header-extra {
		display: table-cell;
		vertical-align: middle;
	}

	.branding-wrapper .title-area,
	.branding-wrapper .custom-logo-link {
		display: inline-block;
		vertical-align: middle;
	}

	.branding-wrapper .title-area a {
		display: block;
		height: 50px;
		width: 500px;
	}

	.branding-wrapper .custom-logo-link {
		margin-right: 13px;
	}

	.branding-wrapper .header-widget {
		display: block;
	}

	.branding-wrapper .header-widget .widget {
		float: right;
		margin: 0;
		padding-top: 1.625em;
		padding-right: 0;
	}

	.header-menu {
		clear: right;
		border-top: none;
	}

	.aligned-menu {
		/* .branding-wrapper .header-menu */
		float: right;
		border-top: none;
	}

	.aligned-menu .menu-item a {
		border-width: 1px;
	}

	.aligned-menu .sub-menu {
		right: 0;
	}

	.aligned-menu .sub-menu .sub-menu {
		top: -1px;
		right: 224px;
		left: auto;
	}

	.main-navigation {
		position: relative;
		text-align: center;
	}

	.branding-wrapper .main-navigation ul {
		display: table;
	}

	.branding-wrapper .main-navigation {
		text-align: left;
	}

	.site-content {
		max-width: 960px;
		padding: 0;
	}

	.only-content .site-content {
		max-width: 780px;
	}

	.content-sidebar .content-area {
		float: left;
		width: 67%;
	}

	.sidebar-content .content-area {
		float: right;
		width: 67%;
	}

	.site-main,
	.pagination {
		width: 100%;
	}

	.author-info,
	.comment-inner,
	.comment-respond,
	.nav-next a,
	.nav-previous a,
	.page-header {
		padding: 2.25em;
	}

	.hentry,
	.woocommerce .site-main {
		padding: .5em .5em .5em 1em;
	}

	.content-sidebar .primary-sidebar {
		float: left;
		width: 30.5%;
		margin-left: -1.25em;
	}

	.sidebar-content .primary-sidebar {
		float: left;
		width: 30.5%;
		margin-right: 2.5%;
	}

	.js .primary-sidebar {
		position: static;
		background-color: transparent;
	}

	.js .primary-sidebar .widget {
		display: block;
		width: auto;
		padding: 2em;
	}

	.footer-widgets {
		position: relative;
		margin: 0 auto;
		border-bottom: 1px solid #e6e6e6;
		background-color: #fff;
		padding: 0;
	}

	.footer-widgets .widget {
		margin: 0;
		padding: 2em 0;
	}

	.footer-widget {
		float: left;
		width: 32%;
	}

	/* Two active footer widgets */
	.tafw .footer-widget {
		width: 49%;
	}

	/* One active footer widgets */
	.oafw .footer-widget {
		width: 100%;
	}

	.footer-widget + .footer-widget {
		margin-left: 2%;
	}

	.site-footer {
		padding: 2em;
	}
}

/**
 * 13.3 - >= 1200px
 */
/* not used, would break our layout */