/*
Theme Name: sprachkonstrukt2-mod-omc
Theme URI: http://sprachkonstrukt2.deyhle-webdesign.com
Description: a dark, html5-based wordpress theme
Author: Ruben Deyhle
Author URI: http://sprachkonstrukt.de
Version: 2.3.3
Tags: black, green, white, two-columns, fixed-width, custom-header, threaded-comments, sticky-post, translation-ready, editor-style, custom-menu
License: GNU General Public License
License URI: license.txt

General comments (optional).
*/

@import url('reset.css');


/* basic tag styles and classes
-------------------------------------------------------------- */

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #405020;
	text-decoration: underline;
}

code {
	font: .8em "Monaco", monospace;
}

article,
footer {
	display: block;
	margin-bottom: 2.2em;
}

address,
article,
dd,
p,
pre {
	margin-bottom: 0.4em;
}

article, #content > p {
	margin-left: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
	color: #000;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.3em;
}


h1 {
	font-size: 1.6em;

}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.4em;
}

h4,
h5,
h6,
dt {
	font-size: 1.3em;
}

em {
	font-style:italic;
}

small, .small {
	font-size: .8em;
}

big, .big {
	font-size: 1.2em;
}

acronym, abbr, span.caps {
	cursor: help;
}

blockquote {
	border-left: 3px solid #666;
	margin: 0 0 1em 0.2em;
	padding-left: 0.5em;
}

del,
s,
strike {
	text-decoration: line-through;
}

hr {
	border: 1px solid #999;
}

textarea {
	width: 97%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

tbody {
	display: table-row-group;
}


td,
th {
	padding: .5em 1em;
	text-align: left;
}

tr.alternate {
	background-color: #ebf1e3;
}

strong {
	font-weight:bold;
}

sub,
sup { font: .7em/0 Verdana, Arial, sans-serif;}

sub { vertical-align: sub; }
sup { vertical-align:super; }


ins {
	background-color: #ebf1e3;
	text-decoration: none;
}

pre {
	background-color: #ebf1e3;
	padding: 1em;
	overflow-x: scroll;
}

q::before {
	content: '“';
}

q::after {
	content: '”';
}

html[lang|="de"] q::before {
	content: '»';
}

html[lang|="de"] q::after {
	content: '«';
}

html[lang|="fr"] q::before {
	content: '«';
}

html[lang|="fr"] q::after {
	content: '»';
}

var {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}

.wp-caption	{
	margin: 10px;
	max-width: 525px !important;
	overflow: hidden;
	text-align: center;
	font-size: .8em;
}

.aligncenter {
	display: block;
	margin: 10px auto;

}

.alignleft {
	float: left;
	margin: 0 20px 5px 0;
}

.alignright	{
	float: right;
	margin: 0 0 5px 20px;
}


img {
	max-width: 100%;
	height: auto;
	padding: 0;
}

img.centered, img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright {
	display: inline;
	margin: 0 0 2px 7px;
	padding: 4px;
}

img.alignleft {
	display: inline;
	margin: 0 7px 2px 0;
	padding: 4px;
}

.screen-reader-text { display:
		none;

}


/* basic layout
-------------------------------------------------------------- */

html {
	background: #fff; /* url('images/bg_binary2.png') repeat; */
}

body {
	/* background: url('images/bg2.png') repeat-x; */
	font-family: Verdana, Arial, sans-serif;
	font-size: 100.01%;
	margin: 0;
}

/* Header
-------------------------------------------------------------- */
header {
	display: block;
	margin: 0 auto;
	position: relative;
	text-align: right;
	width: 960px;
	height: 80px;
	background-position: 50px 0;
}

header h1,
header h2 {
	font-size: 64px;
	margin: 0 15px 0 0;
}

header h1 a,
header h1 a:hover,
header h1 a:active {
	color: #96D321;
	display: block;
	padding-top: .6em;
	text-decoration: none !important;
	text-transform: lowercase;
	text-shadow: 2px 2px #008;
}

header h2 {
	color: #fff;
	font-size: 15px;
	text-transform: lowercase;
}

/* Horizontal Main Navigation
-------------------------------------------------------------- */
nav {
	background: url('images/topmenu.png') repeat-x;
	display: block;
	width: 100%;
}

nav ul {
	list-style: none;
	margin: 0 auto;
	overflow: hidden;
	padding-left: 100px;
	padding-right: 200px;
	width: 660px;
	height: 30px;
}

nav ul li {
	display: inline;
	float: left;
	height: 30px;
}


nav ul li a {
	color: #000;
	display: block;
	font: 400 22px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 30px;
	margin-left: 12px;
	padding: 1px 5px;
	text-decoration: none;
	text-shadow: 0 1px 0px #ddd;
	text-transform: lowercase;
}

nav ul li a:hover,
nav ul li a:active {
	background:  url('images/topmenu-hover.png');
	text-decoration: none !important;
}

nav ul li a:hover {
	color: #fff !important;
	text-shadow: 0 1px 0px #000;
}

nav ul li a:active {
	color: #000 !important;
	text-shadow: 0 1px 0px #ddd;
}

header #searchform {
	position: absolute;
	bottom: -57px;
	right: 0;
}

header #searchform p {
	margin: 0;
}


/* Content Area
-------------------------------------------------------------- */
#page {
	background: url('images/container.png') repeat-y 0 10px;
	margin: 0px auto;
	width: 960px;
}

#content {
	background: url('images/maintop.png') repeat-x;
	color: #333;
	float: left;
	font-size: 14px;
	line-height: 1.8em;
	margin-left: 100px;
	padding: 30px 25px 0 25px;
	width: 550px;
}

#content h1 {
	margin-left: 1.3em;
}

#content article h1 {
	margin-left: 0;
}

#content ol,
#content ul,
.kommentar-inhalt ol,
.kommentar-inhalt ul {
	margin: .5em 0 .5em 3em;
}

#content ol,
.kommentar-inhalt ol {
	list-style-type: decimal;
}
#content ul,
.kommentar-inhalt ul {
	list-style-type: square;
}

#content ol li,
#content ul li,
.kommentar-inhalt ol li,
.kommentar-inhalt ul li {
	margin-bottom: .5em;
}

li > ol,
li > ul {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

#content p.video {
	text-align: center;
	margin: 0 auto;
}

/* Sidebar
-------------------------------------------------------------- */
#sidebar {
	color: #fff;
	float: right;
	font: 300 .9em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	list-style-type: none;
	width: 260px;
}

#sidebar a { color: #fff; }

#sidebar a:hover { color: #96d336; }

#sidebar li.affili {
	padding: 0 25px 25px 25px;
	margin: 20px 0 0 20px;
}

#sidebar li.widget {
	/*background: url('images/sidebar-foot.png') bottom left no-repeat;*/
	background: url('images/sidebar-main.png') repeat-y;

	-moz-border-radius: 0 30px 30px 0;
	-webkit-border-radius: 0 30px 30px 0;
	border-radius: 0 30px 30px 0;

	padding: 0 25px 25px 25px;
	margin: 10px 0;
}

#sidebar h2 {
	/*background: url('images/sidebar-head.png') no-repeat;*/
	color: #96d336;
	font-size: 24px;
	line-height: 1.5em;
	margin: 30px 0 0 0;
	padding: 0 30px 0 20px;
	text-align: center;
	text-transform: lowercase;
}

#sidebar h2 a {
	color: #96d336;
}

#sidebar ul {
	list-style-type: none;
}

#sidebar li ul li {
	line-height: 1.2em;
}

#sidebar li ul li ul {
	background: none;
}

#sidebar li ul li ul li {
	padding-top: .5em;
}

.tagcloud a {
	text-transform: capitalize;
}


/* Social Buttons
-------------------------------------------------------------- */
.socialbuttons {
	float: left;
	margin-left:-700px;
	padding-top: 35px;
	width: 100px;
}

.socialbuttons li {
	float: right;
	padding-bottom: 15px;
}

.socialbuttons li a {
	background: url('images/socialbuttons.png');
	display: none;
	text-indent: -9999px;
	width: 60px;
	height: 27px;
}

.socialbuttons li a[title="RSS"]  {
	display: block;
	background-position: 0 0;
}
.socialbuttons li a[title="RSS"]:hover {
	background-position: -60px 0;
}

.socialbuttons li a[title="Twitter"] {
	display: block;
	background-position: 0 -27px;
}
.socialbuttons li a[title="Twitter"]:hover {
	background-position: -60px -27px;
}

.socialbuttons li a[title="Facebook"] {
	display: block;
	background-position: 0 -54px;
}
.socialbuttons li a[title="Facebook"]:hover {
	background-position: -60px -54px;
}

.socialbuttons li a[title="Xing"] {
	display: block;
	background-position: 0 -81px;
}
.socialbuttons li a[title="Xing"]:hover {
	background-position: -60px -81px;
}

.socialbuttons li a[title="Flickr"] {
	display: block;
	background-position: 0 -108px;
}
.socialbuttons li a[title="Flickr"]:hover {
	background-position: -60px -108px;
}

.socialbuttons li a[title="Google"] {
	display: block;
	background-position: 0 -135px;
}
.socialbuttons li a[title="Google"]:hover {
	background-position: -60px -135px;
}


/* Footer
-------------------------------------------------------------- */

#finished,
.clear { clear:both; }

#footer {
	background: url('images/footer.png') bottom no-repeat;
	color: #666;
	font-size: 9px;
	font-stretch:expanded;
	margin: 0 auto;
	padding-left: 100px;
	padding-right: 260px;
	text-align: center;
	text-transform: uppercase;
	width: 600px;
	height: 82px;
}

#footer p.abstand {
	height: 50px;
}

#footer iframe {
	margin: 0 0 0 -30px;
	padding: 37px 0 0 0;
}

/* Special Classes
-------------------------------------------------------------- */

article.entry {
	padding-bottom: 2em;
}

footer.entry_meta,
p.entry_pages {
	clear: both;
	color: #666;
	font-size: .8em;
	line-height: 1.5em;
}

.prevnextlinks {
	font-size: .8em;
	line-height: 1.2em;
}

.prevnextlinks p.left {
	float:left;
	text-align: left;
	margin-left: 30px;
	width: 50%;
}

.prevnextlinks p.right {
	float:right;
	text-align: right;
	width: 50%;
}


span.required {
	display: none;
}

.legal_notice {
	font-size: 0.8em;
	line-height: 1.2em;
}


p.footnote {
	border-top: 2px solid #888;
	color: #666;
	font-size: 0.8em;
	line-height: 1.2em;
	padding-top: 0.5em;
}

/* custom styles */

h3 { color:#ccc; }
ul,li { color:#ccc; list-style: none; }
/* Altlast oder notwendig? display:block zerschiesst shareif buttons */
/* div#content ul { display:block; width: 500px; margin: 0 auto;  } */
/* div#content li { display:inline;  } */
/* Altlast Ende */
/* stattdessen die Breite begrenzen wegen mobile vs. überbreiten Inhalten */
div#content {    max-width: 500px;
	display: block;
	overflow: hidden;
}
.clear    { clear:both; }
.rightbar { float:right; width:180px; margin:2px 2px 0 180px; text-align:right; position:absolute; top:0; right:0; }
.footer   { width:100%; height:98px; margin:180px auto 2px auto; text-align:center; position:absolute; bottom:0; left:0; }
.mobileads {display:none;}

/* responsive */

/* rich view without extra borders and with bigger fonts for mobile */
@media only screen and (max-width:959px) {

	#page {
		background-image: url(images/container-borderless.png);
	}
	header {
		width: 650px;
		background-position: top left;
	}
	#footer {
		display: none;
	}
	#content {
		margin-left: 0 !important;
		width: 650px;
		font-size: 1.2em !important;
		line-height: 1.3em !important;
	}
	.socialbuttons {
		float: none;
		display: block;
		position: absolute;
		bottom: 0;
	}
	h1 {
		font-size: 1.3em;
		line-height: 1.3em !important;
		margin: 5px 0;
	}
	header h1 {
		margin: 5px 5px 0 0;
		font-size: 1.3em;
	}
	.prevnextlinks p.left {
		margin-left: 40px;
	}
	input[type="search"] {
		/* font-size: 2.0em; */
	}
}

.youtube {
	width: 500px;
	height: 281px;
	padding: 0;
}

/* smaller view without right coloumn */
@media only screen and (max-width:750px) {
	#page {
		width: 700px;
		margin: 0;
	}
	#header {
		width: 700px;
	}
	#sidebar {
		display: none;
	}
	header {
		width: 100%;
		overflow: hidden;
	}
	nav ul {
		width: 100%;
		padding: 0;
	}
	.mobileads {
		display: block;
	}
}

/* classic smartphone screens */
@media only screen and (max-width:640px) {
	#page, #header, #content {
		width: 100%;
	}
	#page {
		background-position: -4px center;
	}
	#content {
		padding: 7px 0 7px 7px;
	}
	@media only screen and (min-width:400px) {
		.youtube {
			width: 380px;
			height: 212px;
		}

		article p img {
			width: 380px;
			height: auto;
		}
	}
}


@media only screen and (max-width:400px) {
	.youtube {
		width: 250px;
		height: 140px;
	}

	article p img {
		width: 250px;
		height: auto;
	}
}